<div class="container-fluid" style="position: fixed;top: 0px;left: 0px;z-index: 2;">
    
</div>

<div class="row justify-content-center align-middle">
    <div class="col-lg-2 text-center mt-3">
        
        <mat-card class="mat-progress">
                        
            <p style="margin-top: 7px;">
                <strong>Executando...</strong>
            </p>

            <div class="progressLoop">
                <!-- <fa-template [icon]="{ style:'fas', name:'sync-alt' }" ></fa-template> <br> -->
                <fa-template></fa-template> <br>
            </div>
            
        </mat-card>

    </div>
</div>